body{
    margin: 0;
    padding: 0;
    background-color: #373b44;
    height: 100vh;
}
.above{
    text-align: center;
}
.container{
    /* padding: 100px; */
    display: flex;
    gap: 1em;
}

/* .no2{
    display: block;
    text-align: center;
} */
.img2{
    border: 100px;
    border-radius: 10px;
    border-width: 4px;
    border-style: solid;
    border-color: #F94C10;
}
.img3{
   
    border: 100px;
    border-radius: 10px;
    border-width: 4px;
    border-style: solid;
    border-color: #F94C10;
}
.img4{
    border: 100px;
    border-radius: 10px;
    border-width: 4px;
    border-style: solid;
    border-color: #F94C10;
}

.img5{
    border: 100px;
    border-radius: 10px;
    border-width: 4px;
    border-style: solid;
    border-color: #F94C10;
}

.img6{
    border: 100px;
    border-radius: 10px;
    border-width: 4px;
    border-style: solid;
    border-color: #F94C10;
}

.img7{
    border: 100px;
    border-radius: 10px;
    border-width: 4px;
    border-style: solid;
    border-color: #F94C10;
}

.img8{
    border: 100px;
    border-radius: 10px;
    border-width: 4px;
    border-style: solid;
    border-color: #F94C10;
}
hr{
    border: none;
    border-top: 10px dotted #F94C10;
    width: 90px;
    margin-top: -10px;
}
.fit{
    color: #F94C10;
}
.wit{
    color: white;
    font-family: 'Lato', sans-serif;
}

.mid-container{
    display: block;
    gap: 1em;
}
.five{
    display: flex;
    gap: 1em;
    margin-bottom: 10px;
}
video{
    border: 100px;
    border-radius: 10px;
    border-width: 4px;
    border-style: solid;
    border-color: #F94C10;
    /* margin-right: 230px; */
}

.three{
    max-width: fit-content;
    max-height: fit-content;
}
.four{
    display: flex;
    gap: 1em;
    margin-bottom: 10px;
}

.six{
    display: flex;
    gap: 1em;
}

.copyright{
    text-align: center;
    /* margin-top: 30px; */
    color: #F94C10;
    font-size: 10px;
    font-family: sans-serif;
    margin-left: -35px;
   padding-bottom: 5px;
}
p{
    color: white;
    font-family: 'Lato', sans-serif;
}
@media only screen and (max-width: 852px) {
    .container {
        flex-direction: column;
        align-items: center;
    }
    .five, .four, .six {
        flex-direction: column;
    }
    .img2, .img3, .img4, .img5, .img6, .img7, .img8, video {
        border: 20px;
        border-radius: 10px;
        border-width: 4px;
        border-style: solid;
        border-color: #F94C10;
        margin: 20px;
        width: 300px;
        height: 300px;
    }
    .mid-container {
        margin: 20px;
    }
    .copyright {
        margin-left: 0;
    }
}