body{
    margin: 0;
    padding: 0;
    background-color: #373b44;
    height: 100vh;
}

.tes{
  text-align: center;
  margin-top: -220px;
}

.tops{
    text-align: center;
}

.serv{
    color: white;
    font-family: 'Lato', sans-serif
}

.dotd{
    border: none;
    border-top: 10px dotted #F94C10;
    width: 90px;
    margin-top: -10px;
}

.acc{
    display: flex;
    gap: 2em;
    margin-top: 100px;
    margin-left: 300px;
    border: none;
    box-shadow: 10px 10px 10px 10px black;
    max-width: 1000px;
    min-height: 450px;
}

.api{
    border-style: solid;
    border-radius: 10px;
    border-width: 5px;
    border-color: #F94C10;

}

.ai{
    margin-top: 50px;
    margin-left: 30px;
}

.awu{
margin-top: 50px;
}

.hi{
    margin-left: 250px;
    margin-top: -70px;
    background-color: #F94C10;
    border: none;
    color: #ffff;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 10px;
    cursor: pointer;
    position: absolute;
    transition: opacity 0.15s, box-shadow 0.15;
   
    &:hover {
        opacity: 0.5;
        box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.15);

    }
}
h2{
    color: #F94C10;
    font-family: 'Lato', sans-serif;
}

p{
    color: white;
    font-family: sans-serif;
    margin-top: -10px;
}

ul{
    color: white;
    font-family: 'Lato', sans-serif;
}

.ecc{
    display: flex;
    gap: 2em;
    margin-top: 100px;
    margin-left: 300px;
    border: none;
    box-shadow: 10px 10px 10px 10px black;
    max-width: 1000px;
    min-height: 450px;
}

.epi{
    border-style: solid;
    border-radius: 10px;
    border-width: 5px;
    border-color: #F94C10;

}

.ei{
    margin-top: 50px;
    margin-left: 30px;
}

.ewu{
margin-top: 50px;
}

.hii{
    margin-left: 230px;
    margin-top: -70px;
    background-color: #F94C10;
    border: none;
    color: #ffff;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 10px;
    cursor: pointer;
    position: absolute;
    transition: opacity 0.15s, box-shadow 0.15;
   
    &:hover {
        opacity: 0.5;
        box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.15);

    }
}

.copyright{
    text-align: center;
    margin-top: 30px;
    color: #F94C10;
    font-size: 10px;
    font-family: sans-serif;
    margin-left: -35px;
   padding-bottom: 5px;
}

@media only screen and (max-width: 852px) {
    img{
        width: 100%;
    }
    .log{
        margin-left: -20px;
    }
    .acc {
        margin-left: 10px;
        max-width: 350px;
        min-height: 200px;
    }
    .ecc {
        margin-left: 10px;
        max-width: 350px;
        min-height: 200px;
    }
    .hi {
        margin-left: -264px;
        margin-top: 130px;
    }
    .hii {
        margin-left: -284px;
        margin-top: 130px;
    }
    .ai {
        margin-left: 10px;
        
    }
    .ei {
        margin-left: 10px;
    }
    .awu {
        margin-top: 20px;
       
    }
    .ewu {
        margin-top: 20px;
    }
    .copyright {
        margin-left: 0;
    }
    .api{
        width: 100px;
        height: 100px;
    }
    .epi{
        width: 100px;
        height: 100px;
    }
    h2{
        font-size: 16px;
    }
    p{
        font-size: 10px;
    }
    li{
        font-size: 10px;
        margin-left: -40px;
    }
}